<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索课程信息</title>
    <script type="text/javascript" src="/dbDesign/js/jquery-3.4.1.js"></script>
</head>
<body>
<h3>搜索条件</h3>
课&nbsp;&nbsp;程&nbsp;&nbsp;号：&nbsp;<label for="id"></label><input id="id"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
课&nbsp;&nbsp;程&nbsp;&nbsp;名：<label for="name"></label><input id="name"/><br/>
教师工号：&nbsp;<label for="teacher_id"></label><input id="teacher_id"/><br/>
学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时：&nbsp;<label for="course_hours"></label><input id="course_hours">学时
<label for="course_hours_type"></label><select id="course_hours_type">
    <option value="1">以上</option>
    <option value="2">以下</option>
    <option value="3" selected="selected"></option>
</select><br/>
学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分：&nbsp;<label for="credit"></label><input id="credit">学分
<label for="credit_type"></label><select id="credit_type">
    <option value="1">以上</option>
    <option value="2">以下</option>
    <option value="3" selected="selected"></option>
</select><br/>
上课时间：&nbsp;<label for="class_time"></label><input id="class_time"/><br/>
上课地点：&nbsp;<label for="class_address"></label><input id="class_address"/><br/>

<input type="button" onclick="courseSearch()" value="搜索"/>
<input hidden="hidden" id="role"
       th:value="${session.teacher} != null ? 'teacher' : (${session.administrator} == null ? 'student' : 'administrator')"/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button"
       onclick="window.location.href = (document.getElementById('role').value == 'teacher' ? 'teacherMain'
       : (document.getElementById('role').value == 'administrator' ? 'administratorMain' :
        'studentMain'))"
       value="返回主页">
<br/>
<table border="1">
    <tbody id="courseBody">
    </tbody>
</table>

<script type="text/javascript">
    function courseSearch() {
        $("#courseBody").html("");

        var id = $("#id").val();
        var name = $("#name").val();
        var teacher_id = $("#teacher_id").val();
        var course_hours = $("#course_hours").val();
        var course_hours_type = document.getElementById("course_hours_type").value;
        var credit = $("#credit").val();
        var credit_type = document.getElementById("credit_type").value;
        var class_time = $("#class_time").val();
        var class_address = $("#class_address").val();

        // 搜索课程
        var param = {
            "id": id, "name": name,
            "teacher_id": teacher_id,
            "course_hours": course_hours,
            "course_hours_type": course_hours_type,
            "credit": credit,
            "credit_type": credit_type,
            "class_time": class_time,
            "class_address": class_address
        };
        $.ajax({
            type: "GET",
            url: 'course/option',
            data: {optionParams: JSON.stringify(param)},
            datatype: "json",
            success: function (data) {
                console.log(data);
                showCourses(data.data);
            }
        });
    }

    var teachers;
    function showCourses(courseList) {
        var tableData = "<tr align='center'>" +
            "<td width='50'>课程号</td>" +
            "<td width='80'>课程名</td>" +
            "<td width='60'>教师</td>" +
            "<td width='50'>学时</td>" +
            "<td width='50'>学分</td>" +
            "<td width='200'>上课时间</td>" +
            "<td width='80'>上课地点</td>" +
            "<td width='160'>考试时间</td>" +
            "</tr>";
        for (var i = 0; i < courseList.length; i++) {
            tableData += "<tr align='center'>";
            tableData += "<td>" + courseList[i].id + "</td>";
            tableData += "<td>" + courseList[i].name + "</td>";
            tableData += "<td>" + getTeacherName(courseList[i].teacherId) + "</td>";
            tableData += "<td>" + courseList[i].courseHours + "</td>";
            tableData += "<td>" + courseList[i].credit + "</td>";
            tableData += "<td>" + courseList[i].classTime + "</td>";
            tableData += "<td>" + courseList[i].classAddress + "</td>";
            tableData += "<td>" + getLocalTime(courseList[i].examTime) + "</td>";
            tableData += "</tr>";
        }
        $("#courseBody").html(tableData);
    }

    function getLocalTime(timeStamp) {
        var dataee = new Date(timeStamp).toJSON();
        return new Date(+new Date(dataee)).toLocaleString().replace(/:\d{1,2}$/, ' ');
    }

    function getTeacherName(teacherId) {
        for (var i = 0; i < teachers.length; i++) {
            if (teachers[i].id == teacherId) {
                return teachers[i].name;
            }
        }
    }
</script>

<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "teacher/all",
            success: function (data) {
                teachers = data.data;
            }
        });
    });
</script>
</body>
</html>