<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" src="/dbDesign/js/jquery-3.4.1.js"></script>
</head>
<body>
ID号：<label for="id"></label><input type="text" id="id"/><br/>
密码：<label for="password"></label><input type="password" id="password"/><br/>
身份：<label>
    <select id="role">
        <option value="1">学生</option>
        <option value="2">教师</option>
        <option value="3">管理员</option>
    </select>
</label>&nbsp;&nbsp;
登录：<input type="button" value="登录" id="loginButton" onclick="login()"/><br/>
</body>
<script type="text/javascript">
    $(function () {
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function(e) {
            history.pushState(null, null, document.URL);
        })
    });

    function login() {
        var role = document.getElementById("role").value;
        var id = document.getElementById("id").value;
        var password = document.getElementById("password").value;
        var param = {"id": id, "password": password};
        if (role == 2) {
            // 登录教师
            $.ajax({
                type: "POST",
                url: 'login/teacher',
                data: {params:JSON.stringify(param)},
                datatype:"json",
                success: function (data) {
                    if(data.status === true){
                        alert("登录成功");
                        window.location.href="teacherMain";
                    }else{
                        alert("登录失败，请检查账号是否与密码对应！");
                    }
                }
            });
        }
        if (role == 1) {
            // 登录学生
            $.ajax({
                type: "POST",
                url: 'login/student',
                data: {params:JSON.stringify(param)},
                datatype:"json",
                success: function (data) {
                    if(data.status === true){
                        alert("登录成功");
                        window.location.href="studentMain";
                    }else{
                        alert("登录失败，请检查账号是否与密码对应！");
                    }
                }
            });
        }
        if (role == 3) {
            // 登录管理员
            $.ajax({
                type: "POST",
                url: 'login/administrator',
                data: {params:JSON.stringify(param)},
                datatype:"json",
                success: function (data) {
                    if(data.status === true){
                        alert("登录成功");
                        window.location.href="administratorMain";
                    }else{
                        alert("登录失败，请检查账号是否与密码对应！");
                    }
                }
            });
        }
    }
</script>
</html>