<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册学生</title>
    <script type="text/javascript" src="/dbDesign/js/jquery-3.4.1.js"></script>
</head>
<body>
姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<label for="name"></label><input type="text" id="name"/><br/>
性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
<label><input type="radio" name="sex" value="1">男</label>
<label><input type="radio" name="sex" value="2">女</label><br/>
出生日期：<label for="birthday"></label><input type="date" id="birthday"/><br/>
入学成绩：<label for="enrolled_score"></label><input type="number" id="enrolled_score"/><br/>
学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;院：
<select id="department"></select><br/>
<input type="button" value="注册" onclick="registerStudent()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button onclick="window.history.back(-1)">返回上一页</button>
<script type="text/javascript">
    var departments;
    $(function () {
        $.ajax({
            type: "GET",
            url: 'department/all',
            data: {},
            success: function (data) {
                departments = data.data;
                var optionString = "";
                for (var i = 0; i < departments.length; i++) {
                    var department = departments[i];
                    optionString += "<option value=\"" + department.id + "\">" + department.name + "</option>";
                    $("#department").html("<option value=''>请选择...</option>" + optionString);
                }
            }
        });
    })
</script>

<script type="text/javascript">
    function registerStudent() {
        var name = document.getElementById("name").value;
        var sexRadio = document.getElementsByName("sex");
        var sex;
        for (var i = 0; i < sexRadio.length; i++) {
            if (sexRadio[i].checked) {
                sex = sexRadio[i].value;
            }
        }
        var birthday = document.getElementById("birthday").value;
        var enrolled_score = document.getElementById("enrolled_score").value;
        var department = document.getElementById("department").value;
        alert(department);
        // 注册学生
        var param = {
            "name": name, "sex": sex,
            "birthday": birthday, "enrolled_score": enrolled_score,
            "department_id": department
        };
        $.ajax({
            type: "POST",
            url: 'student',
            data: {params: JSON.stringify(param)},
            datatype: "json",
            success: function (data) {
                if(data.status == true){
                    alert("注册成功，获得的学号为：" + data.data);
                    $("#name").val("");
                    $("#birthday").val("");
                    $("#enrolled_score").val("");
                    $("#department").get(0).selectedIndex=0;
                    var sexRadio = document.getElementsByName("sex");
                    for (var i = 0; i < sexRadio.length; i++) {
                        sexRadio[i].checked=false;
                    }
                }else{
                    alert("注册失败，原因："+data.message);
                }
            }
        });
    }
</script>
</body>
</html>