<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>搜索学生信息</title>
    <script type="text/javascript" src="/dbDesign/js/jquery-3.4.1.js"></script>
</head>
<body>
<h3>搜索条件</h3>
学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<label for="id"></label><input id="id"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<label for="name"></label><input id="name"/><br/>
入学成绩：<label for="enrolled_score"></label><input id="enrolled_score" type="number" style="width: 70px"/>分
<label for="score_type"></label><select id="score_type">
    <option value="1">以上</option>
    <option value="2">以下</option>
    <option value="3" selected="selected"></option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;院：<label for="department"></label><select
        id="department"></select><br/>
<input type="button" onclick="studentSearch()" value="搜索"/>
<input hidden="hidden" id="role" th:value="${session.teacher} != null ? 'teacher' : 'admin'"/>
<br/>
<input type="button" style="position:absolute;top:10px;right:10px"
       onclick="window.location.href = (document.getElementById('role').value == 'teacher' ? 'teacherMain' : 'administratorMain')"
       value="返回主页">
<table border="1">
    <tbody id="studentsBody">
    </tbody>
</table>
<script type="text/javascript">
    var departments;
    $(function () {
        $.ajax({
            type: "GET",
            url: 'department/all',
            data: {},
            success: function (data) {
                departments = data.data;
                var optionString = "";
                for (var i = 0; i < departments.length; i++) {
                    var department = departments[i];
                    optionString += "<option value=\"" + department.id + "\">" + department.name + "</option>";
                    $("#department").html("<option value=''>请选择...</option>" + optionString);
                }
                $.ajax({
                    type: "GET",
                    url: "student/all",
                    success: function (data) {
                        studentList = data.data;
                        showStudentList(studentList);
                    }
                })
            }
        });
    })
</script>

<script type="text/javascript">
    function studentSearch() {
        $("#studentsBody").html("");
        var id = document.getElementById("id").value;
        var name = document.getElementById("name").value;
        var enrolled_score = document.getElementById("enrolled_score").value;
        var score_type = document.getElementById("score_type").value;
        var department = document.getElementById("department").value;

        // 搜索学生
        var param = {
            "id": id, "name": name,
            "enrolled_score": enrolled_score,
            "score_type": score_type,
            "department_id": department
        };
        $.ajax({
            type: "GET",
            url: 'student/option',
            data: {optionParams: JSON.stringify(param)},
            datatype: "json",
            success: function (data) {
                console.log(data);
                showStudentList(data.data);
            }
        });
    }

    function showStudentList(studentList) {
        var tableData = "<tr align='center'>" +
            "<td width='60'>学号</td>" +
            "<td width='60'>姓名</td>" +
            "<td width='60'>性别</td>" +
            "<td width='80'>入学成绩</td>" +
            "<td>学院</td>" +
            "</tr>";
        for (var i = 0; i < studentList.length; i++) {
            tableData += "<tr align='center'>";
            tableData += "<td>" + studentList[i].id + "</td>";
            tableData += "<td>" + studentList[i].name + "</td>";
            tableData += "<td>" + (studentList[i].sex == 0 ? '未知' : (studentList[i].sex == 1 ? '男' : '女')) + "</td>";
            tableData += "<td>" + studentList[i].enrolledScore + "分" + "</td>";
            tableData += "<td>" + getDepartmentName(studentList[i].departmentId) + "</td>";
            tableData += "</tr>";
        }
        $("#studentsBody").html(tableData);
    }
</script>

<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: 'department/all',
            data: {},
            success: function (data) {
                departments = data.data;
            }
        });
    })

    function getDepartmentName(departmentId) {
        for (var i = 0; i < departments.length; i++) {
            if (departments[i].id == departmentId) {
                return departments[i].name;
            }
        }
    }
</script>
</body>
</html>